#form {
    margin-top: 2%;
    margin-bottom: 2%;

    .container {
        background-color: white;
        padding: 10px;
        border-radius: 8px;
    }

    .link {
        line-height: 1.5 !important;
        font-weight: 700;
        color: #0E4393;
        cursor: pointer;
    }

    .gdpr-label {
        margin-top: 1%;
        font-size: 14px;
        justify-content: flex-start;
        padding: 0;
        display: flex;
        flex-direction: row;
    }

    .gdpr-label input[type=checkbox].ch{
        width: 14px;
        height: 14px;
        border-color: #0E4393;
        color: #0E4393;
    }

    .warning-alert {
        font-weight: 700;
        font-size: 14px;
        background-color: #0E4393;
        color: white;
    }

    .success-alert {
        font-weight: 700;
        width: 100%;
        position: relative;
        background-color: #0E4393;
        text-align: center;
        color: white;
        font-size: 18px;
      }

    .closeBtn {
        background: none;
        outline: none;
        border: none;
        float: right;
        color: white;
    }

    .new-line {
        white-space: pre-line;
    }
    
    .input-label {
        font-weight: 600;
        font-size: 18px;
        padding-bottom: 4px;
    }

    .container-row {
        flex-direction: row;
        justify-content: center;
    }

    .attachment-trigger {
        border-radius: 8px;
    }

    .content-row {
        display: inline-block;
        flex-direction: row;
        margin-top: 2%;
    }

    .medium-input {
        width: 100%;
        height: 60px;
        border-radius: 8px;
        background: #F5F4F2;
        outline: none;
        border-color: transparent;
        line-height: 1.5;
        font-size: 14px;
        font-weight: 400;
    }

    .attachments-text {
        display: block;
        float: left;
        padding-top: 15px;
        text-align: center;
    }

    .indicator {
        display: flex;
        position: fixed;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5);
        z-index: 2;
    }

    .lds-spinner {
        color: #0E4393;
        display: inline-block;
        width: 80px;
        height: 80px;
    }
    .lds-spinner div {
        transform-origin: 40px 40px;
        animation: lds-spinner 1.2s linear infinite;
    }
    .lds-spinner div:after {
    content: " ";
        display: block;
        position: absolute;
        left: 37px;
        width: 6px;
        height: 18px;
        border-radius: 20%;
        background: #0E4393;
    }
    .lds-spinner div:nth-child(1) {
        transform: rotate(0deg);
        animation-delay: -1.1s;
    }
    .lds-spinner div:nth-child(2) {
        transform: rotate(30deg);
        animation-delay: -1s;
    }
    .lds-spinner div:nth-child(3) {
        transform: rotate(60deg);
        animation-delay: -0.9s;
    }
    .lds-spinner div:nth-child(4) {
        transform: rotate(90deg);
        animation-delay: -0.8s;
    }
    .lds-spinner div:nth-child(5) {
        transform: rotate(120deg);
        animation-delay: -0.7s;
    }
    .lds-spinner div:nth-child(6) {
        transform: rotate(150deg);
        animation-delay: -0.6s;
    }
    .lds-spinner div:nth-child(7) {
        transform: rotate(180deg);
        animation-delay: -0.5s;
    }
    .lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
    }
    .lds-spinner div:nth-child(9) {
        transform: rotate(240deg);
        animation-delay: -0.3s;
    }
    .lds-spinner div:nth-child(10) {
        transform: rotate(270deg);
        animation-delay: -0.2s;
    }
    .lds-spinner div:nth-child(11) {
        transform: rotate(300deg);
        animation-delay: -0.1s;
    }
    .lds-spinner div:nth-child(12) {
        transform: rotate(330deg);
        animation-delay: 0s;
    }

    .language-select {
        width: 80px;
        font-weight: 600;
    }

    .language-row {
        justify-content: end;
    }
}

@media (max-width: 991px) {
    #form {
      .right-input {
        margin-top: 2%;
      }
    }
}

@keyframes lds-spinner {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
}